<div class="modal-header">
    <h4 class="modal-title pull-left">Expense</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    
    <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="mb-3">
            <label for="item" class="form-label">Item</label>
            <input type="text" class="form-control" id="item" #item name="item" formControlName="item" placeholder="Item">
            <div *ngIf="expenseForm.controls['item'].invalid && (expenseForm.controls['item'].dirty || expenseForm.controls['item'].touched)"
                class="invalid-feedback">
                <div *ngIf="expenseForm.controls['item'].errors?.['required']">Item is required</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="mb-3">
                    <label for="category" class="form-label">Category</label>
                    <input type="text" class="form-control" id="category" formControlName="category"
                        placeholder="Category">
                    <div *ngIf="expenseForm.controls['category'].invalid && (expenseForm.controls['category'].dirty || expenseForm.controls['category'].touched)"
                        class="invalid-feedback">
                        <div *ngIf="expenseForm.controls['category'].errors?.['required']">Category is required</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="mb-3">
                    <label for="subcategory" class="form-label">Subcategory</label>
                    <input type="text" class="form-control" id="subcategory" formControlName="subcategory"
                        placeholder="Subcategory">
                    <div *ngIf="expenseForm.controls['subcategory'].invalid && (expenseForm.controls['subcategory'].touched)"
                        class="invalid-feedback">
                        <div *ngIf="expenseForm.controls['subcategory'].errors?.['required']">Subcategory is required</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="mb-3">
                    <label for="cost" class="form-label">Cost</label>
                    <input type="number" class="form-control" id="cost" formControlName="cost" placeholder="0.00">
                    <div *ngIf="expenseForm.controls['cost'].invalid && (expenseForm.controls['cost'].dirty || expenseForm.controls['cost'].touched)"
                        class="invalid-feedback">
                        <div *ngIf="expenseForm.controls['cost'].errors?.['required']">Cost is required</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="mb-3">
                    <label for="date" class="form-label">Date</label>
                    <div class="input-group mb-3">
                        <button class="btn btn-outline-secondary" type="button" id="prev" (click)="setPreviousDate()">Prev.</button>
                        <input type="text" class="form-control" id="date" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [maxDate]="maxDate" formControlName="date" placeholder="YYYY-MM-DD">
                        <div *ngIf="expenseForm.controls['date'].invalid && (expenseForm.controls['date'].dirty || expenseForm.controls['date'].touched)"
                            class="invalid-feedback">
                            <div *ngIf="expenseForm.controls['date'].errors?.['required']">Date is required</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <label for="city" class="form-label">City</label>
                <div class="input-group mb-3">
                    <select class="form-select" id="city" formControlName="city" (change)="onChangeCity($event)" placeholder="Choose city">
                        <option *ngFor="let city of cities" [ngValue]="city" [attr.data-value]="city.code">{{city.name}}</option>
                      </select>
                    <span class="input-group-text">{{cityCode}}</span>
                    <div *ngIf="expenseForm.controls['city'].invalid && (expenseForm.controls['city'].dirty || expenseForm.controls['city'].touched)"
                        class="invalid-feedback">
                        <div *ngIf="expenseForm.controls['city'].errors?.['required']">City is required</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-grid gap-2">
            <button type="submit" [disabled]="expenseForm.invalid" class="btn btn-primary">Submit</button>
        </div>
    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()"></button>
  </div>

