<ag-grid-angular style="width: 100%; height: 600px; min-height: 300px;" class="ag-theme-alpine" 
    [context]="context"
    [rowData]="expenses"
    [gridOptions]="gridOptions"
    [columnDefs]="columnDefs" 
    [defaultColDef]="defaultColDef" 
    [animateRows]="true" 
    [enableCellChangeFlash]="true"
    [getRowId]="getRowId"
    [pinnedTopRowData]="pinnedTopRowData"
    [pinnedBottomRowData]="pinnedBottomRowData"
    [rowClassRules]="rowClassRules"
    (firstDataRendered)="onFirstDataRendered($event)"
    (rowDataUpdated)="onRowDataUpdated($event)"
    (filterChanged)="onFilterChanged($event)"
    (cellValueChanged)="onCellValueChanged($event)"
    (cellEditingStopped)="onCellEditingStopped($event)"
    (gridReady)="onGridReady($event)">
</ag-grid-angular>

