<main class="mt-5 pt-3">
  <div class="container-fluid">

    <!-- <div class="row">
      <app-expense-form></app-expense-form>
    </div> -->

    <div class="row">
      <div class="col-md-12">
        <h4>Expenses Dashboard - {{currentDate.getFullYear()}}</h4>
      </div>
    </div>

    <div class="col-12 mb-3">
      <div *ngIf="expenses.length > 0" class="kpi-bar">
        <app-kpi-v2 [kpi]="kpiMonthlyExpenses"></app-kpi-v2>
        <app-kpi-v2 [kpi]="kpiAverageDailyExpenses"></app-kpi-v2>
        <app-kpi-v2 [kpi]="kpiRemainingDaysMonth"></app-kpi-v2>
      </div>
    </div>

    <div class="col-12 mb-3 p-3">
      <div class="flex-parent">
        <app-expenses-bar-chart [options]="expensesPerYearDataChart" class="w-100"></app-expenses-bar-chart>

        <app-expenses-bar-chart [options]="expensesByMonthStackedByCategory" class="w-100"></app-expenses-bar-chart>

        <app-expenses-bar-chart [options]="expensesByCategoryDataChart"></app-expenses-bar-chart>
        <app-expenses-bar-chart [options]="expensesBySubcategoryDataChart"></app-expenses-bar-chart>
        <app-pie-chart-expenses [options]="expensesByCityDataChart"></app-pie-chart-expenses>

        <div style="height: 400px; width: 600px;" class="mb-3">
          <app-annual-cost-per-city-grid [data]="expensesByCity"></app-annual-cost-per-city-grid>
        </div>

        <div style="height: 400;">
          <app-bubble-chart [options]="expensesByDayAndCategoryDataChart"></app-bubble-chart>
        </div>
        <div style="height: 400;">
          <app-bubble-chart [options]="expensesByDayDataChart"></app-bubble-chart>
        </div>
      </div>
    </div>



  </div>
</main>