<main class="mt-5 pt-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h4>Dashboard</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 mb-3" *ngFor="let kpi of kpis;">
        <app-kpi [kpi]="kpi"></app-kpi>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <div class="card h-100">
          <div class="card-header">
            <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
            Variable Expenses By Month
          </div>
          <div *ngIf="annualChart" class="card-body">
            <canvas baseChart class="chart" [data]="annualChart.data" [options]="annualChart.options" [type]="'bar'"
              (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="card h-100">
          <div class="card-header">
            <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
            Variable Expenses By City
          </div>
          <div *ngIf="cityChart" class="card-body">
            <canvas baseChart class="chart" [data]="cityChart.data" [options]="cityChart.options"
              [type]="'bar'"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <div class="card h-100">
          <div class="card-header">
            <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
            Variable Expenses By Category
          </div>
          <div *ngIf="categoryChart" class="card-body">
            <canvas baseChart class="chart" [data]="categoryChart.data" [options]="categoryChart.options" [type]="'bar'"
              (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="card h-100">
          <div class="card-header">
            <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
            Variable Expenses By Subcategory
          </div>
          <div *ngIf="subcategoryChart" class="card-body">
            <canvas baseChart class="chart" [data]="subcategoryChart.data" [options]="subcategoryChart.options"
              [type]="'bar'"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 mb-3">
        <div class="card">
          <div class="card-header">
            <span><i class="bi bi-table me-2"></i></span> Data Table
          </div>
          <div class="card-body">
            <p>more data here...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>