<main class="mt-5 pt-3">
  <div class="container-fluid">

    <!-- <div class="row">
      <app-expense-form></app-expense-form>
    </div> -->

    <div class="row">
      <div class="col-md-12">
        <h4>Expenses Dashboard - {{currentDate.getFullYear()}}</h4>
      </div>
    </div>

    <div class="col-12 mb-3">
      <div *ngIf="expenses.length > 0" class="kpi-bar">
        <app-kpi-v2 [kpi]="kpiMonthlyExpenses"></app-kpi-v2>
        <app-kpi-v2 [kpi]="kpiAverageDailyExpenses"></app-kpi-v2>
        <app-kpi-v2 [kpi]="kpiRemainingDaysMonth"></app-kpi-v2>
      </div>
    </div>

    <div class="col-12 mb-3 p-3">
      <div class="flex-parent">
          <app-expenses-bar-chart [options]="expensesPerYearDataChart" class="w-100"></app-expenses-bar-chart>
          <app-pie-chart-expenses [options]="expensesByCityDataChart"></app-pie-chart-expenses>
          <app-expenses-bar-chart [options]="expensesByCategoryDataChart"></app-expenses-bar-chart>
      </div>
    </div>


    <div class="row">
      <div class="col-md-6 mb-3">
        <div class="card h-100">
          <div class="card-header">
            <span><i class="bi bi-table me-2"></i></span> Annual Cost per Day per City
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover table-borderless table-sm">
                <thead>
                  <tr>
                    <th scope="col">City</th>
                    <th scope="col">Days of Stay</th>
                    <th scope="col">Cost per Day</th>
                    <th scope="col">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>MTY</td>
                    <td>133</td>
                    <td>$2,550.00</td>
                    <td>$339,150.00</td>
                  </tr>
                  <tr>
                    <td>CDMX</td>
                    <td>21</td>
                    <td>$1,959.00</td>
                    <td>$41,139.00</td>
                  </tr>
                  <tr>
                    <td>OAX</td>
                    <td>10</td>
                    <td>$1,000.00</td>
                    <td>$10,000.00</td>
                  </tr>
                  <tr>
                    <td>XAL</td>
                    <td>13</td>
                    <td>$550.00</td>
                    <td>$7,150.00</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</main>