<div class="row">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="col-md-7">
            <h3>Annual Expenses - {{currentDate.getFullYear()}}
            </h3>
        </div>
    </div>
    <div>
        <app-annual-expenses-grid 
            [expenses]="annualExpenses"
            (saveItem)="saveItem($event)" 
            (deleteItem)="deleteItem($event)">
        </app-annual-expenses-grid>
    </div>
</div>