<div class="row">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="col-md-7">
            <h3>Variable Expenses - 
                <span *ngIf="activeFilter == 'month'">{{currentMonth}}</span>
                <span *ngIf="activeFilter == 'year'">Year</span>
                {{currentDate.getFullYear()}}
            </h3>
        </div>
    </div>

    <div class="col-12 mb-3">
        <div *ngIf="expenses.length > 0" class="kpi-bar">
            <app-kpi-v2 [kpi]="kpiMonthlyExpenses"></app-kpi-v2>
            <app-kpi-v2 *ngIf="activeFilter == 'month'" [kpi]="kpiRemaningMonthlyBudget" [ngClass]="kpiRemaningMonthlyBudgetClass"></app-kpi-v2>
            <app-kpi-v2 [kpi]="kpiAverageDailyExpenses"></app-kpi-v2>
            <app-kpi-v2 [kpi]="kpiRemainingDaysMonth"></app-kpi-v2>
            <app-kpi-v2 [kpi]="kpiTotalRows"></app-kpi-v2>        
        </div>
    </div>

    <!-- filters -->
    <div class="d-flex justify-content-end flex-wrap flex-md-nowrap align-items-center mb-3">
        <div class="row">
            <div class="btn-toolbar align-items-center mb-2 mb-md-0">
                <button *ngIf="gridHasUIFilters" (click)="clearGridFilters()" class="btn btn-sm btn-outline-danger">Clear Filters</button>
                <div>
                    <a class="btn btn-link custom-btn-icon" data-toggle="tooltip" data-placement="top" title="Previous"
                        (click)="onPrevPeriod()">
                        <fa-icon [icon]="['fas', 'chevron-left']"></fa-icon>
                    </a>
                </div>
                <div class="btn-group btn-group-sm btn-outline ms-2">
                    <a (click)="filterBy('month')" [class.active]="activeFilter == 'month'" class="btn btn-outline-secondary" aria-current="page">Month</a>
                    <a (click)="filterBy('year')" [class.active]="activeFilter == 'year'" class="btn btn-outline-secondary">Year</a>
                </div>
                <div>
                    <a class="btn btn-link custom-btn-icon" data-toggle="tooltip" data-placement="top" title="Next"
                        (click)="onNextPeriod()">
                        <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- chart -->
    <div class="col-12 mb-3 p-3">
        <div class="flex-parent">
            <app-expenses-bar-chart [options]="expensesByCategoryDataChart"></app-expenses-bar-chart>
            <app-pie-chart-expenses [options]="expensesByCityDataChart"></app-pie-chart-expenses>
            <div style="height: 400;">
                <app-bubble-chart [options]="expensesByDayAndCategoryDataChart"></app-bubble-chart>
            </div>
            <div style="height: 400;">
                <app-bubble-chart [options]="expensesByDayDataChart"></app-bubble-chart>
            </div>
        </div>
    </div>
        
    <!-- grid -->
    <div class="mt-3">
        <app-editable-expense-grid 
            [expenses]="expenses" 
            (saveItem)="saveItem($event)" 
            (deleteItem)="deleteItem($event)">
        </app-editable-expense-grid>
    </div>

</div>
