<div class="row">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Expenses</h1>
        <div class="btn-toolbar align-items-center mb-2 mb-md-0">
            <div class="me-2">
                <button type="button" (click)="openExpenseModal()" class="btn btn-sm btn-outline-secondary">New</button>
            </div>

            <div class="btn-group btn-group-sm btn-outline ms-2">
                <a (click)="filterBy('month')" [class.active]="activeFilter == 'month'" class="btn btn-outline-secondary" aria-current="page">Month</a>
                <a (click)="filterBy('year')" [class.active]="activeFilter == 'year'" class="btn btn-outline-secondary">Year</a>
            </div>
        </div>
    </div>

    <!-- chart should be here -->

    <h3>
        <span *ngIf="activeFilter == 'month'">{{currentMonth}}</span>
        <span *ngIf="activeFilter == 'year'">Year</span>
        {{currentDate.getFullYear()}}
    </h3>

    <div *ngIf="expenses.length == 0" class="no-records d-flex justify-content-center align-items-center">
        <p>No expenses found</p>
    </div>
    <div *ngIf="expenses.length > 0">
        <app-expenses-list [expenses]="expenses" (editItem)="editItem($event)" (deleteItem)="deleteItem($event)"></app-expenses-list>
    </div>

</div>