<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-12 col-xl-10">
            <div class="card shadow-lg o-hidden border-0 my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-flex">
                            <img class="img-fluid" src="../../assets/img/image1.jpg">
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h4 class="text-dark mb-4">Welcome Back!</h4>
                                </div>
                                <form class="user">
                                    <div class="mb-3">
                                        <input class="form-control form-control-user" type="email" [(ngModel)]="email" id="email" aria-describedby="emailHelp" placeholder="Email" name="email">
                                    </div>
                                    <div class="mb-3">
                                        <input class="form-control form-control-user" type="password" [(ngModel)]="pass" id="pass" placeholder="Password" name="pass">
                                    </div>
                                    <div class="mb-3">
                                        <div class="custom-control custom-checkbox small">
                                            <div class="form-check">
                                                <input class="form-check-input custom-control-input"type="checkbox" id="formCheck-1">
                                                <label class="form-check-label custom-control-label" for="formCheck-1">Remember Me</label>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary d-block btn-user w-100" type="submit" (click)="login()">Login</button>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" (click)="test()">testing</a>
                                    </div>
                                </form>
                                <div class="text-center"><a class="small" href="forgot-password.html">Forgot Password?</a></div>
                                <div class="text-center"><a class="small" routerLink="/register">Create an Account</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>