<table class="table table-hover table-responsive small">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Action</th>
      <th scope="col">City</th>
      <th scope="col">Item</th>
      <th scope="col">Category</th>
      <th scope="col">Subcategory</th>
      <th scope="col">Cost</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let expense of expenses; let i = index;">
      <td><b>{{ i + 1 }}</b></td>
      <td>
        <a class="btn btn-link custom-btn-icon" data-toggle="tooltip" data-placement="top" title="Delete"
          (click)="openDeleteModal(i + 1, expense, template)"><fa-icon [icon]="['fas', 'trash']"></fa-icon>
        </a>
        <a class="btn btn-link custom-btn-icon" data-toggle="tooltip" data-placement="top" title="Edit"
          (click)="edit(expense)"><fa-icon [icon]="['fas', 'pen-to-square']"></fa-icon>
        </a>
      </td>
      <td>{{ expense.cityCode }}</td>
      <td>{{ expense.item }}</td>
      <td>{{ expense.category }}</td>
      <td>{{ expense.subcategory }}</td>
      <td>{{ expense.cost | currency }}</td>
      <td>{{expense.date | date: 'dd/MM/yyyy' }}</td>
    </tr>
  </tbody>
</table>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Do you realy want to delete item <b>#{{rowNumber}} {{expense.item}}?</b></p>
    <button type="button" class="btn btn-default" (click)="confirmDelete(true)">Yes</button>
    <button type="button" class="btn btn-primary" (click)="confirmDelete(false)">No</button>
  </div>
</ng-template>