<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">My Money Coach</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/expenses">New Expense</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Income</a>
        </li>

        <li>
          <a *ngIf="!isAuth" class="nav-link" routerLink="/register">Register</a>
        </li>
        <li>
          <a *ngIf="!isAuth" class="nav-link" routerLink="/login">Login</a>
        </li>
        <li>
          <a *ngIf="isAuth" class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>