/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";
/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

html, body {
    height: 100%;
}
body {
    padding-top: 70px;
    background-color: #F5F5F5;
}
.custom-btn-icon {
    color: #000;
}
.custom-btn-icon:hover {
    color: #8f1ba6;
}

.pinned-row-top {
    font-style: italic;
    color: #8f8f8f;
}

.bl6-danger {
    border-left: 6px solid #DC3545;
}
.bl6-warning {
    border-left: 6px solid #FFC107;
}