:host {
    flex: 10%;
    min-width: 130px;
    padding: 5px;
    text-align: center;
    background-color: #E7E7E7;
}

.kpi-box h1 {
    font-size: 18px;
}
.title {
    font-size: 12px;
    margin-bottom: 5px;
}
.legend {
    font-size: 12px;
}
